.paragraph {
  font-weight: 300;
  line-height: 27px;
  font-size: 1rem;
  padding: 10px 0;
  @include media-sm {
    font-size: 1rem;
  }
}
.title {
  font-family: $oswald;
  @include media-sm {
    font-size: 2rem;
  }
}

%default_button {
  border: none;
  outline: none;
  background-color: transparent;
}
.btn_catzen {
  @extend %default_button;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s;
  font-weight: 600;
  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.08);
  }
  @include media-sm {
    font-size: 1rem;
  }
}

.socialIcons {
  text-align: left;
  a {
    padding: 10px 10px;
  }
  a i {
    font-size: 2.5rem;
    color: white;
  }
  @include media-md {
    text-align: center;
  }
}
.footer {
  background-color: $primary-color;
  color: white;
  .content {
    padding: 25px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include media-sm {
      flex-direction: column;
      align-items: center;
      .item {
        .title {
          text-align: center;
        }
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
