.paragraph {
  font-weight: 300;
  line-height: 27px;
  font-size: 1rem;
  padding: 10px 0;
  @include media-sm {
    font-size: 0.8rem;
    text-align: center;
  }
}
.title {
  font-family: $oswald;
  @include media-sm {
    font-size: 2rem;
  }
  @include media-sm {
    font-size: 1.8rem;
  }
}

%default_button {
  border: none;
  outline: none;
  background-color: transparent;
}
.btn_catzen {
  @extend %default_button;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s;
  font-weight: 600;
  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.08);
  }
  &:disabled {
    opacity: 0.5;
  }
  @include media-sm {
    font-size: 1rem;
  }
}

.errors {
  padding: 10px 15px;
  color: black;
  list-style: none;
  background-color: white;
  li {
    font-size: 15px;
    font-style: italic;
  }
}
.socialIcons {
  text-align: left;
  a {
    padding: 10px 10px;
  }
  a i {
    font-size: 2.5rem;
    color: white;
  }
  @include media-md {
    text-align: center;
  }
  @include media-sm {
    a i {
      font-size: 2rem;
    }
  }
  @include media-ssm {
    width: 100%;
    width: 100vw;
    vertical-align: middle;
    a {
      padding: 0 8px;
    }
    a i {
      font-size: 2rem;
    }
  }
}
.footer {
  background-color: $primary-color;
  color: white;
  .content {
    padding: 25px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .item {
      img {
        vertical-align: top;
      }
      .socialIcons {
        margin-left: 15px;
      }
    }
    @include media-sm {
      flex-direction: column;
      align-items: center;
      .item {
        .title {
          text-align: center;
        }
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}

.margin_of_nav {
  padding-top: 10vh !important;
}

.loading {
  position: fixed;
  width: 100% !important;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    color: white;
    text-transform: capitalize;
  }
  svg {
    height: 50px;
  }
}
