/* generlas */

.hero {
  height: 900px;
  position: relative;
  overflow-x: hidden;
  .addon_rect {
    width: 100%;
    height: 10rem;
    bottom: 6rem;
    position: absolute;
  }
  /***************************responsive hero*************************************/

  @include media-md {
    height: 80vh !important;
    .addon_rect {
      bottom: 1rem;
    }
  }
  @include media-sm {
    height: 800px !important;
    .addon_rect {
      bottom: 1rem !important;
    }
  }
  @include media-ssm {
    height: 100;
  }

  /***************************responsive hero*************************************/
}

.header {
  display: flex;
  // padding: 100px 0;
  &__text {
    .title {
      font-size: 5rem;
    }
    p {
      font-weight: 300;
      font-size: 1rem;
      line-height: 30px;
      padding: 10px 0;
    }
  }
  &__image {
    width: 80%;
    img {
      transform: scale(1.7) translateX(50px);
      object-fit: cover;
      width: 100%;
    }
  }
  /***************************responsive header*************************************/
  @include media-lg {
    .header__image {
      img {
        object-fit: cover;
        transform: scale(1.4);
      }
    }
  }
  @include media-md {
    padding: 0px 0;
    margin: 25px 50px;
    .header__text {
      .title {
        font-size: 3rem;
      }
    }
    .header__image {
      flex-basis: 100%;
      width: 100%;
      img {
        margin-top: 2rem;
        width: 160%;
        margin-left: -50px;
      }
    }
  }
  /* mobile */

  @include media-sm {
    flex-direction: column;
    .header__image {
      order: 1;
      width: 100%;

      img {
        margin: 0 auto !important;
        width: 60%;
      }
    }
    .header__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      order: 2;
      .title {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }

  /***************************responsive header*************************************/
}

.addon_rect {
  height: 150px;
  margin-top: -2rem;
  color: white;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  @include media-md {
    &.two {
      margin-top: 1rem !important;
    }
  }
  @include media-sm {
    height: 115px !important;
  }
}

/* element two columns
 */
.element_info {
  margin-top: 2rem;
  display: flex;
  &__text {
    flex: 40%;
    .title {
      padding: 25px 0;
    }
  }
  &__image {
    flex: 60%;
    img {
      width: 100%;
    }
  }
  overflow: hidden;
  /***************************responsive*************************************/
  @include media-md {
    margin: 0rem 2rem;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 4rem;
    &.two {
      .element_info__text {
        padding: 0 25px;
      }
    }
    .element_info__image {
      overflow: visible;
      max-width: 250px;
      align-self: flex-end;
      img {
        transform: scale(1.4);
      }
    }
    .element_info__text {
      align-self: flex-start;
      .title {
        padding: 10px 0;
      }
    }
  }
  @include media-sm {
    flex-direction: column;
    .element_info__text {
      order: 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .title {
        text-align: center;
      }
    }
    .element_info__image {
      order: 1;
      width: 100%;
      margin: 0 auto;
      img {
        transform: scale(1);
      }
    }
  }

  /***************************responsive*************************************/
}

/*=============================================
=            services            =
=============================================*/
.services {
  margin: 50px 0;
  .items {
    margin-top: 1rem;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(2, 1fr);
    @include media-sm {
      grid-template-columns: 1fr;
    }
  }
  .item {
    min-width: 300px;
    border: none;
    outline: none;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    align-items: center;
    transition: 0.1s;
    span {
      text-transform: capitalize;
      line-height: 25px;
      font-size: 1rem;
    }
    img {
      object-fit: cover;
      margin-right: 15px;
      width: 28px;
    }
    .icon {
      flex: 30%;
      text-align: right;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}

/* galery  one  */

.galery_reason {
  margin-top: 2rem;
  /* separate buttons*/
  $separate-button: 45%;
  .swiper-button-prev {
    color: white;
    bottom: 0 !important;
    margin-left: $separate-button;
    margin-top: 10%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    margin-top: 10%;
    font-weight: 700;
  }
  .swiper-button-next {
    margin-right: $separate-button;
  }

  .sllidereason {
    margin-top: 3rem;
    .swiper-slide {
      height: 85vh;
      position: relative;
    }
    %base_elements {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .image {
      @extend %base_elements;
      img {
        position: fixed;
        object-fit: cover;
        width: 100%;
        object-position: center center;
      }
    }
    .cover {
      @extend %base_elements;
      background: rgba($color: $primary-color, $alpha: 0.7);
    }
    .content {
      @extend %base_elements;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      &_reason {
        max-width: 750px;
        // margin-top: 10rem;
        .title {
          font-size: 3rem;
          text-align: center;
        }
        .paragraph {
          text-align: center;
          vertical-align: middle;
          font-weight: 300;
          font-size: 1.2rem;
          margin-top: 2rem;
        }
      }
    }
    /***************************responsive slider reason*************************************/
    @include media-sm {
      .content {
        .title {
          font-size: 1.5rem;
        }
        .paragraph {
          font-size: 0.8rem;
          padding: 0 15px;
        }
      }
      .image {
        img {
          position: static !important;
          object-fit: cover;
        }
      }
    }

    /***************************responsive slider reason*************************************/
  }
  /***************************responsive*************************************/
  @include media-md {
    .swiper-button-next,
    .swiper-button-prev {
      margin-top: 20%;
    }
    .swiper-button-next {
      padding-left: 25px;
    }
    .sllidereason {
      .swiper-slide {
        height: 60vh;
      }
    }
  }
  @include media-sm {
    .swiper-button-next,
    .swiper-button-prev {
      margin-top: 22%;
      display: none !important;
    }
    .swiper-button-next {
      padding-left: 50px;
    }
    .sllidereason {
      .swiper-slide {
        height: 34vh;
      }
    }
  }
  /***************************responsive*************************************/
}

.clients {
  margin: 50px 0;
  &_slider {
    margin: 50px 0;
    height: 350px !important;
    .swiper-slide {
      height: 350px;
      padding: 50px 0;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 250px;
      }
    }
  }
}

.testimonial {
  margin: 50px auto;
  &__card {
    margin: 25px auto;
    border-radius: 25px;
    padding: 10px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 2px 40px -20px rgba(0, 0, 0, 1);
    /* avatar */
    @include media-ssm {
      width: 280px;
    }
    .image {
      box-shadow: -1px 2px 40px -20px rgba(0, 0, 0, 1);
      margin: 25px;
      width: $size-avatar;
      height: $size-avatar;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &_center {
        overflow: hidden;
        width: $size-avatar - 20px;
        height: $size-avatar - 20px;
        padding: 5px;
        border-radius: 50%;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          left: 0px;
          top: 0px;
        }
      }
    }
    /* body card */
    .card_header {
      padding: 15px 0;
      text-align: center;
      .caption {
        color: rgba($color: black, $alpha: 0.5);
      }
    }
    .card_body {
      padding: 0 5px;
      p {
        text-align: center;
        padding: 10px 10px;
      }
    }
  }
}
